@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

$grey: #333;
$black: #111;
$white: #eee;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}
