@import './theme/theme.scss';

.wrapper {
	height: 100vh;
	width: 100vw;
	background: $grey;
	color: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.display {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	width: 200px;
	min-height: 80px;
	padding: 0.5em;
	border: solid 1px $white;
	word-wrap: break-word;
	word-break: break-all;
}

.previousNumber,
.sign {
	font-size: 0.6em;
}

.buttons {
	width: 200px;
	height: 250px;
	border: solid 1px $white;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(5, auto);
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	background: none;
	color: $white;

	font-size: 1em;
	transition: all 0.3s;

	&:hover {
		cursor: pointer;
		background-color: rgba(255, 255, 255, 0.2);
	}
}

.equals {
	grid-column: 4/5;
	grid-row: 4/6;
	// background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 500px) {
	.wrapper {
		font-size: 2.5em;
	}

	.display {
		width: 100%;
		height: 38%;
		padding: 1em;
	}
	.buttons {
		width: 100%;
		height: 62%;
	}
	.equals {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
